header.header
	.header-main
		a.header-main__logo.logo(href="")
			picture
				source(media="(min-width: 1300px)" srcset="/static/images/general/photo-2-desktop@1x.jpg 1x, /static/images/general/photo-2-desktop@2x.jpg 2x")
				source(media="(min-width: 768px)" srcset="/static/images/general/photo-2-tablet@1x.jpg 1x, /static/images/general/photo-2-tablet@2x.jpg 2x")
				img.logo__image(src="/static/images/general/photo-2-mobile@1x.jpg" srcset="/static/images/general/photo-2-mobile@2x.jpg 2x" width="260" height="195" alt="Корзинка для белья")
			img.logo__text(src="/static/images/content/logo-mobile-text.svg")
		.sandwitch
			.sandwich__line.sandwich__line--top
			.sandwich__line.sandwich__line--middle
			.sandwich__line.sandwich__line--bottom
	include ../navigation/navigation
