header.header
	.container
		.header__wrapper
			.header-main
				a.header-main__logo.logo(href = pageClass === 'index-page' ? false : 'index.html')
					picture
						source(media="(min-width: 1300px)" srcset="static/images/content/logo-desktop.svg")
						source(media="(min-width: 768px)" srcset="static/images/content/logo-tablet.svg")
						img.logo__image(src="static/images/content/logo-mobile.svg" alt="Логотип магазина Cat Energy")
					img.logo__text(src="static/images/content/logo-mobile-text.svg" alt="Название магазина Cat Energy")
				button(type="button").sandwich
					span Открыть или закрыть меню
					.sandwich__line.sandwich__line--top
					.sandwich__line.sandwich__line--middle
					.sandwich__line.sandwich__line--bottom
			include ../navigation/navigation