header.header
	.header-main
		a.header-main__logo.logo(href="")
			picture
				source(media="(min-width: 1300px)" srcset="/static/images/content/logo-mobile.svg")
				source(media="(min-width: 768px)" srcset="/static/images/content/logo-mobile.svg")
				img.logo__image(src="/static/images/content/logo-mobile.svg" alt="Логотип магазина Cat Energy")
			img.logo__text(src="/static/images/content/logo-mobile-text.svg")
		.sandwich
			.sandwich__line.sandwich__line--top
			.sandwich__line.sandwich__line--middle
			.sandwich__line.sandwich__line--bottom
	include ../navigation/navigation
