.additive {
  &__title {
    border-bottom: 1px solid $border-color;
    color: $headline-color;
    font-family: $headline-font;
    font-size: 24px;
    font-weight: normal;
    line-height: 24px;
    padding-bottom: 30px;
    padding-right: 25px;
    &::after {
      background-color: $bg-green-color;
      content: "";
      position: absolute;
      height: 3px;
      width: 100%;
      top: 14px;
    }
  }
}

.goods {
  &__title {
    color: $text-light-color;
    font-family: $headline-font;
    font-size: 16px;
    font-weight: normal;
    line-height: 16px;
  }
  &__weight {
    color: $text-color;
    font-family: $text-font;
    font-size: 14px;
    line-height: 14px;
  }
}