.additive {
  position: relative;
  @media screen and (min-width: $desktop-size) { margin-bottom: 85px; }
  &__inner {
    @media screen and (min-width: $desktop-size) {
      display: flex;
      justify-content: space-between;
    }
  }
  &__title {
    background-color: $white;
    color: $headline-color;
    display: inline-block;
    font-family: $headline-font;
    font-size: 24px;
    font-weight: normal;
    line-height: 24px;
    margin-bottom: 30px;
    margin-left: -40px;
    padding-right: 25px;
    padding-left: 40px;
    position: relative;
    &::before, &::after {
      content: "";
      position: absolute;
      top: 50%;
      width: 100vw;
      height: 3px;
      margin-top: 2px;
      background: #68b738;
      z-index: -1;
    }
    &::before { right: 0; }
    &::after { left: 20px; }
    @media screen and (min-width: $tablet-size) {
      font-size: 36px;
      line-height: 36px;
      margin-bottom: 75px;
      margin-left: 0;
      padding-left: 40px;
    }
  }
  &__gift {
    align-items: center;
    background: $bg-green-color url('/static/images/general/gift-photo-mobile@1x.jpg') no-repeat center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 35px;
    min-height: 290px;
    width: 100%;
    @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background-image: url('/static/images/general/gift-photo-mobile@2x.jpg');
    }
    @media screen and (min-width: $tablet-size) {
      background: $bg-green-color url('/static/images/general/gift-photo-tablet@1x.jpg') no-repeat center;
      background-size: cover;
      flex-direction: row;
      justify-content: space-around;
      margin-bottom: 75px;
      min-height: 200px;
      @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
        background-image: url('/static/images/general/gift-photo-tablet@2x.jpg');
      }
    }
    @media screen and (min-width: $desktop-size) {
      background: $bg-green-color url('/static/images/general/gift-photo-desktop@1x.jpg') no-repeat center;
      background-size: cover;
      flex-basis: 20%;
      flex-direction: column;
      margin: 0;
      min-height: auto;
      width: auto;
      @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
        background: $bg-green-color url('/static/images/general/gift-photo-desktop@2x.jpg') no-repeat center;
        background-size: cover;
      }
    }
  }
  &__icon {
    fill: $white;
    height: 60px;
    margin-top: 65px;
    width: 55px;
    @media screen and (min-width: $tablet-size) {
      margin: 0;
    }
  }
  &__offer {
    color: $white;
    font-family: $main-font;
    font-size: 16px;
    line-height: 20px;
    padding: 0 60px 45px 60px;
    text-align: center;
    @media screen and (min-width: $tablet-size) {
      padding: 0;
      width: 165px;
    }
  }
}

.goods {
  margin-bottom: 40px;
  @media screen and (min-width: $tablet-size) {
    margin-bottom: 70px;
  }
  @media screen and (min-width: $desktop-size) {
    flex-basis: 73%;
    margin: 0;
  }
  &__item {
    border-bottom: 1px solid $border-color;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 130px;
    padding: 15px 0;
    &:first-child { border-top: 1px solid $border-color; }
    @media screen and (min-width: $tablet-size) {
      border-left: 1px solid $border-color;
      border-right: 1px solid $border-color;
      flex-direction: row;
      flex-wrap: wrap;
      padding: 30px 40px;
    }
    @media screen and (min-width: $desktop-size) {
      align-items: center;
      border-left: none;
      border-right: none;
      flex-direction: row;
      min-height: auto;
      padding: 15px 0;
    }
  }
  &__title {
    color: $text-light-color;
    font-family: $headline-font;
    font-size: 16px;
    font-weight: normal;
    line-height: 16px;
    @media screen and (min-width: $tablet-size) {
      font-size: 20px;
      font-weight: normal;
      line-height: 20px;
      margin-bottom: 25px;
      text-transform: uppercase;
    }
    @media screen and (min-width: $desktop-size) {
      flex-basis: 33%;
      margin: 0;
    }
  }
  &__cost {
    @media screen and (min-width: $tablet-size) {
      font-size: 16px;
      line-height: 20px;
      &:first-child { margin-right: 50px; }
    }
    @media screen and (min-width: $desktop-size) {
      &:first-child { margin: 0; }
    }
  }
  &__wrapper {
    color: $text-color;
    display: flex;
    font-family: $text-font;
    font-size: 14px;
    justify-content: space-between;
    line-height: 14px;
    @media screen and (min-width: $desktop-size) {
      flex-basis: 33%;
    }
  }
  &__button {
    @media screen and (min-width: $tablet-size) {
      font-size: 16px;
      flex-basis: 100%;
      line-height: 20px;
      height: 40px;
    }
    @media screen and (min-width: $desktop-size) {
      flex-basis: 20%;
      padding: 0;
    }
  }
}