.s-additive {
  .s-contacts {
    background-color: $bg-lightgrey-color;
  }
}

.additive {
  position: relative;
  &__title {
    background-color: $white;
    color: $headline-color;
    display: inline-block;
    font-family: $headline-font;
    font-size: 24px;
    font-weight: normal;
    line-height: 24px;
    margin-bottom: 30px;
    margin-left: -40px;
    padding-right: 25px;
    padding-left: 40px;
    position: relative;
    &::before, &::after {
      content: "";
      position: absolute;
      top: 50%;
      width: 100vw;
      height: 3px;
      margin-top: 2px;
      background: #68b738;
      z-index: -1;
    }
    &::before { right: 0; }
    &::after { left: 20px; }
    //&::before {
    //  background: $bg-green-color;
    //  content: "";
    //  height: 3px;
    //  margin-right: -20px;
    //  position: absolute;
    //  right: 0;
    //  top: 14px;
    //  width: 100%;
    //  z-index: -1;
    //}
  }
  &__gift {
    align-items: center;
    background: $bg-green-color url('/static/images/general/gift-photo-mobile@1x.jpg') no-repeat center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 35px;
    min-height: 290px;
    width: 100%;
    @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background-image: url('/static/images/general/gift-photo-mobile@2x.jpg');
    }
  }
  &__icon {
    fill: $white;
    height: 60px;
    margin-top: 65px;
    width: 55px;
  }
  &__offer {
    color: $white;
    font-family: $main-font;
    font-size: 16px;
    line-height: 20px;
    padding: 0 60px 45px 60px;
    text-align: center;
  }
}

.goods {
  margin-bottom: 40px;
  &__item {
    border-bottom: 1px solid $border-color;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 130px;
    padding: 15px 0;
    &:first-child { border-top: 1px solid $border-color; }
  }
  &__title {
    color: $text-light-color;
    font-family: $headline-font;
    font-size: 16px;
    font-weight: normal;
    line-height: 16px;
  }
  &__wrapper {
    color: $text-color;
    display: flex;
    font-family: $text-font;
    font-size: 14px;
    justify-content: space-between;
    line-height: 14px;
  }
}