.s-catalog {
  margin-bottom: 30px;
}

.catalog {
  &__title {
    border-bottom: 1px solid $border-color;
    line-height: 1;
    margin: 0 -20px 0 -20px;
    padding: 30px 0 30px 20px;
  }
}

.product {
  border-bottom: 1px solid $border-color;
  margin: 0 -20px 0 -20px;
  min-height: 210px;
  padding: 0 20px 25px 20px;
  &__row {
    align-items: center;
    display: flex;
  }
  &__col {
    flex-basis: 50%;
    max-width: 50%;
  }
  &__picture {
    align-items: center;
    display: flex;
    justify-content: center;
  }
  &__title {
    color: $headline-color;
    font-family: $headline-font;
    font-size: 16px;
    font-weight: normal;
    line-height: 20px;
    margin-bottom: 15px;
    padding-right: 30px;
    text-transform: uppercase;
  }
  &__line {
    color: $text-color;
    display: flex;
    font-family: $text-font;
    font-size: 12px;
    justify-content: space-between;
    line-height: 16px;
  }
  &__more {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding-top: 25px;
    min-height: 184px;
  }
  &__show-more {
    color: $headline-color;
    font-family: $headline-font;
    font-size: 16px;
    font-weight: normal;
    line-height: 20px;
    margin: 25px 0 10px 0;
    text-transform: uppercase;
  }
  &__footnote {
    color: $text-color;
    font-family: $text-font;
    font-size: 12px;
    line-height: 16px;
  }
  &__button {
    color: $text-color;
    background-color: $bg-lightgrey-color;
    margin-top: auto;
  }
}