footer {
  flex: 0 0 auto;
}

.main-footer {
  background-color: $bg-lightgrey-color;
  &__wrapper {
    display: flex;
    flex-direction: column;
    @media screen and (min-width: $tablet-size) {
      align-items: center;
      flex-direction: row;
      justify-content: space-between;
      padding: 58px 0;
    }
  }
  &__logo {
    border-bottom: 1px solid $border-dark-color;
    padding: 39px 0 31px 0;
    text-align: center;
    @media screen and (min-width: $tablet-size) {
      border: none;
      padding: 0;
    }
    &:hover { opacity: 0.8; }
    &:active { opacity: 0.6; }
  }
  &__link { display: block; }
  &__copyright {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    &:hover {
      .icon-htmlacademy { fill: $bg-green-color; }
    }
    &:active { opacity: 0.3; }
    @media screen and (min-width: $tablet-size) { padding: 0; }
  }
  &__academy {
    color: $text-color;
    font-family: $text-font;
    font-size: 16px;
    line-height: 16px;
    @media screen and (min-width: $tablet-size) {
      margin-right: 23px;
    }
  }
}

.social {
  &__list {
    align-items: center;
    border-bottom: 1px solid $border-dark-color;
    display: flex;
    justify-content: center;
    padding: 20px 0;
    @media screen and (min-width: $tablet-size) {
      border: none;
      padding: 0;
    }
  }
  &__item {
    &:not(:last-child) { margin-right: 40px; }
  }
  &__link { display: block; }
}