section.s-catalog
	.container
		.catalog
			h1.title.catalog__title Каталог продукции
			.catalog__wrapper
				include products-prev/products-prev-1
				include products-prev/products-prev-2
				include products-prev/products-prev-3
				include products-prev/products-prev-4
				include products-prev/products-prev-5
				include products-prev/products-prev-6
				include products-prev/products-prev-7
