extends template/main

block variables
	- var title = 'Каталог товаров магазина Cat Energy'
	- var pageClass = 'catalog-page'

block content
	include pages/catalog/products
	include pages/catalog/additive
	include pages/index/contacts