extends template/main

block variables
    - var title = 'Каталог товаров магазина Cat Energy'
    - var pageClass = 'form-page'

block content
    include pages/form/order-form
    include pages/index/contacts