extends template/main

block variables
	- var title = 'Главная страница магазина Cat Energy'
	- var pageClass = 'index-page'

block content
	include pages/index/banner
	include pages/index/program-menu
	include pages/index/advantages
	include pages/index/example
	include pages/index/contacts