section.s-advantages
	.container
		.advantages
			h2.title.title-block Как это работает
			ul.advantages__list
				li.advantages__item.advantages__item--leaflet
					p.advantages__text Функциональное питание содержит только полезные питательные вещества.
				li.advantages__item.advantages__item--powder
					p.advantages__text Выпускается в виде порошка, который нужно лишь залить кипятком и готово.
				li.advantages__item.advantages__item--knife
					p.advantages__text Замените один-два приема обычной еды на наше функциональное питание.
				li.advantages__item.advantages__item--clock
					p.advantages__text Уже через месяц наслаждайтесь изменениями к лучшему вашего питомца!