section.s-banner
	.container
		.banner
			h1.title.title-page Функциональное<br> питание для котов
			p.banner__slogan Занялся собой? Займись котом!
			picture
				source(type="image/webp" media="(min-width: 1300px)" srcset="static/images/content/index-can-desktop1x.webp, static/images/content/index-can-desktop2x.webp 2x")
				source(type="image/webp" media="(min-width: 768px)" srcset="static/images/content/index-can-tablet1x.webp, static/images/content/index-can-tablet2x.webp 2x")
				source(type="image/webp" srcset="static/images/content/index-can-mobile1x.webp, static/images/content/index-can-mobile2x.webp 2x")
				source(media="(min-width: 1300px)" srcset="static/images/content/index-can-desktop1x.png 1x, static/images/content/index-can-desktop2x.png 2x")
				source(media="(min-width: 768px)" srcset="static/images/content/index-can-tablet1x.png 1x, static/images/content/index-can-tablet2x.png 2x")
				img.banner__image(src="static/images/content/index-can-mobile1x.png" srcset="static/images/content/index-can-mobile2x.png 2x" width="280" height="270" alt="Корм Cat Energy со вкусом курицы")
			a.banner__button.button.button--small(href="#") Подобрать программу