section.s-contacts
	.container
		.contacts
			h2.visually-hidden Контакты магазина Cat Energy
			.contacts__wrapper
				p.contacts__dilers приглашаем к сотрудничеству дилеров!
				p.contacts__address ул. Большая Конюшенная, д. 19/8
					span Санкт-Петербург
	#map