section.s-example
	.container
		.example
			.example__row
				.example__col
					h2.title.title-block Живой пример
					p.example__text Борис сбросил 5 кг за 2 месяца, просто заменив свой обычный корм на Cat Energy Slim. Отличный результат без изнуряющих тренировок! При этом он не менял своих привычек и по-прежнему спит по 16 часов в день.
					.example__inner
						.example__wrapper
							.example__progress
								strong.example__total 5 кг
								span.example__footnote снижение веса
							.example__progress
								strong.example__total 60 дней
								span.example__footnote затрачено времени
						p.example__cost Затраты на питание:
							span 15 000 руб.
				.example__col
					.example__comparions.comparions
						.comparions__picture
							picture
								source(type="image/webp" media="(min-width: 768px)" srcset="/static/images/content/before-desktop1x.webp, /static/images/content/before-desktop2x.webp 2x")
								source(type="image/webp" srcset="/static/images/content/before-mobile1x.webp, /static/images/content/before-mobile2x.webp 2x")
								source(media="(min-width: 768px)" srcset="/static/images/content/before-desktop1x.png 1x, /static/images/content/before-desktop2x.png 2x")
								img.comparions__image.comparions__image--before(src="/static/images/content/before-mobile1x.png" srcset="/static/images/content/before-mobile2x.png 2x" width="320" height="240" alt="Фото кота Бориса до похудения")
							picture
								source(type="image/webp" media="(min-width: 768px)" srcset="/static/images/content/after-desktop1x.webp, /static/images/content/after-desktop2x.webp 2x")
								source(type="image/webp" srcset="/static/images/content/after-mobile1x.webp, /static/images/content/after-mobile2x.webp 2x")
								source(media="(min-width: 768px)" srcset="/static/images/content/after-desktop1x.png 1x, /static/images/content/after-desktop2x.png 2x")
								img.comparions__image.comparions__image--after(src="/static/images/content/after-mobile1x.png" srcset="/static/images/content/after-mobile2x.png 2x" width="320" height="240" alt="Фото кота Бориса до похудения")
						.comparions__wrapper
							button.comparions__buttons.comparions__buttons--before Было
							.comparions__slick.comparions__slick--before
								span.comparions__switch Кнопка переключения картинок До и После
							button.comparions__buttons.comparions__buttons--after Стало