section.s-program-menu
    .container
        .program-menu
            h2.visually-hidden Программы питания
            .program-menu__programs
                .program-menu__header
                    .program-menu__image
                        +icon('icon-cat-slim','icon-slim','35','50')
                    h3.program-menu__title Похудение
                p.program-menu__description Ваш кот весит больше собаки и почти утратил способность лазить по деревьям? Пора на диету! Cat Energy Slim поможет вашему питомцу сбросить лишний вес.
                a.program-menu__link(href="#") Каталог Slim
                    +icon('icon-right-arrow-long','icon__right-arrow','24','11')
                .program-menu__programs
                    .program-menu__header
                        .program-menu__image
                            +icon('icon-cat-pro','icon-pro','67','28')
                        h3.program-menu__title Набор массы
                    p.program-menu__description Заработать авторитет среди дворовых котов и даже собак? Серия Cat Energy Pro поможет вашему коту нарастить необходимые мышцы!
                    a.program-menu__link(href="#") Каталог Pro
                        +icon('icon-right-arrow-long','icon__right-arrow','24','11')