@font-face {
  font-family: 'oswald_medium';
  src: url('../fonts/Oswald-Medium.woff') format('woff'),
  url('../Oswald-Medium.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'oswald_regular';
  src: url('../fonts/Oswald-Regular.woff') format('woff'),
  url('../fonts/Oswald-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}