.comparions {
  &__picture {
    display: flex;
    justify-content: center;
    margin-bottom: 35px;
    @media screen and (min-width: $tablet-size) {
      margin-bottom: 20px;
    }
  }
  &__image {
    &--before {
      @media screen and (min-width: $tablet-size) {
        height: 499px;
        width: auto;
      }
    }
    &--after {
      display: none;
      @media screen and (min-width: $tablet-size) {
        height: 517px;
        width: auto;
      }
    }
  }
  &__wrapper {
    align-items: center;
    display: flex;
    justify-content: space-around;
    padding: 0 40px;
  }
  &__buttons {
    background-color: transparent;
    border: none;
    color: $headline-color;
    font-family: $headline-font;
    font-size: 16px;
    font-weight: normal;
    line-height: 20px;
    padding: 0;
    text-transform: uppercase;
    @media screen and (min-width: $tablet-size) {
      border-bottom: 1px dotted $border-dark-color;
      font-size: 20px;
      line-height: 20px;
      padding-bottom: 5px;
    }
  }
  &__slick {
    align-items: center;
    background-color: $white;
    border: 1px solid $border-dark-color;
    border-radius: 6px;
    display: flex;
    font-size: 0;
    margin: 0 20px;
    padding: 0 6px;
    position: relative;
    min-height: 14px;
    width: 100%;
    &--before { justify-content: flex-start; }
    &--after { justify-content: flex-end; }
    @media screen and (min-width: $tablet-size) {
      background-color: $bg-darkgrey-color;
      border: none;
      min-height: 6px;
    }
  }
  &__switch {
    background-color: $bg-green-color;
    border-radius: 3px;
    height: 6px;
    width: 50%;
    @media screen and (min-width: $tablet-size) {
      background-color: $white;
      border: 1px solid $border-dark-color;
      border-radius: 50%;
      box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.15);
      height: 34px;
      position: absolute;
      width: 34px;
      &::after {
        background-color: $bg-green-color;
        border-radius: 50%;
        content: "";
        height: 8px;
        left: calc(50% - 4px);
        position: absolute;
        top: calc(50% - 4px);
        width: 8px;
      }
    }
  }
}