.s-example {
  background-color: $bg-lightgrey-color;
  padding-bottom: 35px;
  @media screen and (min-width: $tablet-size) {
    background: linear-gradient(to top, $bg-lightgrey-color 42%, $white 30%);
    padding-bottom: 70px;
  }
}

.example {
  &__text {
    color: $text-color;
    font-family: $text-font;
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 25px;
    @media screen and (min-width: $tablet-size) {
      font-size: 16px;
      line-height: 24px;
      margin-bottom: 55px;
      padding-right: 30px;
    }
  }
  &__inner {
    @media screen and (min-width: $tablet-size) {
      align-items: center;
      display: flex;
      justify-content: space-between;
      margin-bottom: 100px;
    }
  }
  &__wrapper {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: 35px;
    @media screen and (min-width: $tablet-size) {
      flex-basis: 52%;
      margin-bottom: 0;
    }
  }
  &__progress {
    align-items: center;
    border: 1px solid $border-dark-color;
    border-radius: 3px;
    display: flex;
    flex-basis: 124px;
    flex-direction: column;
    justify-content: center;
    padding: 12px 20px 0 20px;
    @media screen and (min-width: $tablet-size) {
      flex-basis: 46%;
      padding: 16px 32px 0 32px;
      max-width: 46%;
    }
  }
  &__total {
    color: $headline-color;
    font-family: $headline-font;
    font-weight: normal;
    font-size: 24px;
    line-height: 24px;
    margin-bottom: 10px;
    text-align: center;
    text-transform: uppercase;
    @media screen and (min-width: $tablet-size) {
      font-size: 30px;
      line-height: 37px;
      white-space: nowrap;
    }
  }
  &__footnote {
    background-color: $bg-lightgrey-color;
    color: $text-color;
    display: block;
    font-family: $text-font;
    font-size: 12px;
    line-height: 12px;
    text-align: center;
    margin-bottom: -16px;
    @media screen and (min-width: $tablet-size) {
      background-color: $white;
      font-size: 14px;
      line-height: 14px;
      margin-bottom: -6px;
      padding: 0 10px;
      white-space: nowrap;
    }
  }
  &__cost {
    color: $headline-color;
    font-family: $headline-font;
    font-size: 14px;
    font-weight: normal;
    line-height: 20px;
    margin-bottom: 40px;
    text-align: center;
    text-transform: uppercase;
    br { display: none; }
    @media screen and (min-width: $tablet-size) {
      font-size: 20px;
      line-height: 20px;
      margin-bottom: 0;
      text-align: right;
      br { display: block;}
    }
  }
}