.program-menu {
  &__programs {
    background-color: $border-color;
    padding: 20px;
    position: relative;
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }
  &__header {
    align-items: center;
    display: flex;
    margin-bottom: 20px;
  }
  &__image {
    background-color: $bg-green-color;
    border-radius: 50%;
    height: 50px;
    margin-right: 20px;
    width: 50px;
  }
  &__icon {
    position: absolute;
    &--slim {
      top: 17px;
      left: 28px;
    }
    &--pro {
      top: 30px;
      left: 12px;
    }
  }
  &__title {
    color: $headline-color;
    font-family: $headline-font;
    font-size: 24px;
    font-weight: normal;
    line-height: 37px;
    text-align: center;
    text-transform: uppercase;
  }
  &__description {
    border-bottom: 1px solid red;
    color: $text-color;
    font-family: $text-font;
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 20px;
    padding-bottom: 20px;
  }
  &__link {
    color: $headline-color;
    font-size: 16px;
    font-family: $headline-font;
    font-weight: normal;
    line-height: 16px;
    text-transform: uppercase;
  }
}