.s-program-menu {
  margin-bottom: 25px;
  @media screen and (min-width: $tablet-size) { margin-bottom: 45px; }
  @media screen and (min-width: $desktop-size) { margin-bottom: 70px; }
}

.program-menu {
  &__wrapper {
    @media screen and (min-width: $desktop-size) {
      display: flex;
      justify-content: space-between;
    }
  }
  &__programs {
    background-color: $bg-lightgrey-color;
    padding: 20px;
    position: relative;
    &:not(:last-child) { margin-bottom: 20px; }
    @media screen and (min-width: $tablet-size) {
      padding: 80px 320px 60px 50px;
    }
    @media screen and (min-width: $desktop-size) {
      display: flex;
      flex-direction: column;
      padding: 80px 50px 60px 50px;
      width: 47%;
      &:not(:last-child) { margin-bottom: 0; }
    }
  }
  &__header {
    align-items: center;
    display: flex;
    margin-bottom: 20px;
    @media screen and (min-width: $tablet-size) { margin-bottom: 25px; }
    @media screen and (min-width: $desktop-size) { margin-bottom: 70px; }
  }
  &__image {
    background-color: $bg-green-color;
    border-radius: 50%;
    height: 50px;
    margin-right: 20px;
    width: 50px;
    @media screen and (min-width: $tablet-size) {
      height: 200px;
      position: absolute;
      margin: 0;
      right: 62px;
      top: calc(50% - 100px);
      width: 200px;
    }
    @media screen and (min-width: $desktop-size) {
      height: 100px;
      left: 50px;
      top: 47px;
      width: 100px;
    }
  }
  &__icon {
    position: absolute;
    &--slim {
      top: 17px;
      left: 28px;
      @media screen and (min-width: $tablet-size) { top: -13px; }
      @media screen and (min-width: $desktop-size) {
        left: 12px;
        top: -6px;
      }
    }
    &--pro {
      top: 30px;
      left: 12px;
      @media screen and (min-width: $tablet-size) {
        left: -37px;
        top: 42px;
      }
      @media screen and (min-width: $desktop-size) {
        left: -17px;
        top: 24px;
      }
    }
    &--right-arrow {
      display: block;
    }
  }
  &__title {
    color: $headline-color;
    font-family: $headline-font;
    font-size: 24px;
    font-weight: normal;
    line-height: 37px;
    text-align: center;
    text-transform: uppercase;
    @media screen and (min-width: $tablet-size) {
      font-size: 36px;
    }
    @media screen and (min-width: $desktop-size) {
      padding-left: 166px;
    }
  }
  &__description {
    border-bottom: 1px solid $border-dark-color;
    color: $text-color;
    font-family: $text-font;
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 20px;
    padding-bottom: 20px;
    @media screen and (min-width: $tablet-size) {
      border: none;
      font-size: 16px;
      line-height: 24px;
      margin-bottom: 60px;
      padding: 0;
    }
    @media screen and (min-width: $desktop-size) {
      margin-bottom: 35px;
    }
  }
  &__link {
    align-items: center;
    color: $headline-color;
    display: flex;
    font-size: 16px;
    font-family: $headline-font;
    font-weight: normal;
    line-height: 16px;
    text-transform: uppercase;
    span { margin-right: 10px; }
    @media screen and (min-width: $tablet-size) {
      font-size: 20px;
      line-height: 20px;
      span { margin-right: 25px; }
    }
    @media screen and (min-width: $desktop-size) {
      margin-top: auto;
    }
    &:hover {
      svg {
        transform: translateX(10px);
        transition: all linear 0.3s;
      }
    }
    &:active { opacity: 0.3; }
  }
}