.s-banner {
  margin-bottom: 20px;
  &::before {
    background: #65a93c url("/static/images/general/index-background-mobile1x.jpg") no-repeat center;
    content: "";
    height: 305px;
    opacity: 0.9;
    position: absolute;
    width: 100%;
    z-index: -1;
    @media screen and (-webkit-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background: #65a93c url("/static/images/general/index-background-mobile2x.jpg") no-repeat center;
      background-size: contain;
    }
    @media screen and (min-width: $tablet-size) { display: none; }
    @media screen and (min-width: $desktop-size) {
      background: #65a93c url("/static/images/general/index-background-desktop1x.jpg") no-repeat right;
      display: block;
      height: 696px;
      width: 50%;
      right: 0;
      top: -88px;
      @media screen and (-webkit-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
        background: url("/static/images/general/index-background-desktop2x.jpg") no-repeat right;
        background-size: cover;
      }
    }
  }
  @media screen and (min-width: $desktop-size) {
    margin-bottom: 400px;
  }
}

.banner {
  &__slogan {
    color: $white;
    font-family: $headline-font;
    font-size: 14px;
    line-height: 14px;
    margin-bottom: 30px;
    text-align: center;
    text-transform: uppercase;
    @media screen and (min-width: $tablet-size) {
      color: $headline-color;
      font-size: 20px;
      line-height: 20px;
      margin-bottom: 20px;
      padding-left: 90px;
      text-align: left;
    }
    @media screen and (min-width: $desktop-size) {
      margin-bottom: 0;
    }
  }
  &__image {
    display: block;
    margin: 0 auto;
    @media screen and (min-width: $tablet-size) {
      height: 609px;
      width: 709px;
    }
    @media screen and (min-width: $desktop-size) {
      height: 499px;
      left: 37.8%;
      position: absolute;
      top: 12%;
      width: 552px;
    }
  }
  &__button {
    @media screen and (min-width: $tablet-size) {
      position: absolute;
      top: 283px;
      left: 120px;
      width: 35%;
    }
    @media screen and (min-width: $desktop-size) {
      top: 333px;
      width: 20%;
    }
  }
}