.icon {
  &-slim {
    height: 50px;
    width: 35px;
    @media screen and (min-width: $tablet-size) {
      height: 194px;
      width: 140px;
    }
  }
  &-pro {
    height: 28px;
    width: 67px;
    @media screen and (min-width: $tablet-size) {
      height: 112px;
      width: 268px;
    }
  }
  &-right-arrow {
    height: 11px;
    width: 24px;
  }
  &-logo-footer {
    height: 24px;
    width: 128px;
  }
  &-vk, &-fb, &-insta, &-htmlacademy { fill: $social-color; }
}