.icon {
  &-slim {
    height: 50px;
    width: 35px;
  }
  &-pro {
    height: 28px;
    width: 67px;
  }
  &-right-arrow {
    height: 11px;
    width: 24px;
  }
  &-logo-footer {
    height: 24px;
    width: 128px;
  }
  &-vk, &-fb, &-insta, &-htmlacademy { fill: $social-color; }
}