.icon {
  &-slim {
    height: 50px;
    width: 35px;
    @media screen and (min-width: $tablet-size) {
      height: 194px;
      width: 140px;
    }
    @media screen and (min-width: $desktop-size) {
      height: 97px;
      width: 70px;
    }
  }
  &-pro {
    height: 28px;
    width: 67px;
    @media screen and (min-width: $tablet-size) {
      height: 112px;
      width: 268px;
      @media screen and (min-width: $desktop-size) {
        height: 56px;
        width: 134px;
      }
    }
  }
  &-right-arrow {
    height: 11px;
    width: 24px;
  }
  &-logo-footer {
    height: 24px;
    width: 128px;
  }
  &-vk, &-fb, &-insta, &-htmlacademy { fill: $social-color; }
  &-vk:hover, &-fb:hover, &-insta:hover { fill: $bg-green-color; }
  &-vk:active, &-fb:active, &-insta:active { opacity: 0.3; }
  @media screen and (min-width: $tablet-size) {
    &-vk {
      height: 16px;
      width: 30px;
    }
    &-fb {
      height: 28px;
      width: 14px;
    }
    &-insta {
      height: 23px;
      width: 23px;
    }
  }
}