@import "banner";
@import "icons";

.title {
  font-family: $headline-font;
  font-size: 36px;
  font-weight: normal;
  &-page {
    line-height: 36px;
    padding-bottom: 20px;
    padding-top: 30px;
    text-align: center;
  }
  &-block {
    color: $headline-color;
    line-height: 60px;
    margin-bottom: 25px;
  }
}

.s-banner {
  .title-page {
    color: $white;
  }
}