@import "banner";
@import "icons";

.title-page {
  font-family: $headline-font;
  font-size: 36px;
  font-weight: normal;
  line-height: 36px;
  padding-bottom: 20px;
  padding-top: 30px;
  text-align: center;
}

.s-banner {
  .title-page {
    color: $white;
  }
}