@import "sandwich";

.header {

}

.header-main {
  align-items: center;
  display: flex;
  justify-content: space-between;
  height: 65px;
}

.logo {
  align-items: center;
  display: flex;
  &__image {
    display: block;
    margin-right: 57px;
  }
}