@import "sandwich";

.header {
  border-bottom: 1px solid $border-color;
}

.header-main {
  align-items: center;
  display: flex;
  justify-content: space-between;
  height: 65px;
}

.logo {
  align-items: center;
  display: flex;
  &__image {
    display: block;
    margin-right: 57px;
  }
}