.catalog__products.product
	.product__row
		.product__prev
			picture.product__picture
				source(type="image/webp" media="(min-width: 1300px)" srcset="static/images/content/chicken-small-desktop@1x.webp, static/images/content/chicken-small-desktop@2x.webp 2x")
				source(type="image/webp" media="(min-width: 768px)" srcset="static/images/content/chicken-small-tablet@1x.webp, static/images/content/chicken-small-tablet@2x.webp 2x")
				source(type="image/webp" srcset="static/images/content/chicken-small-mobile@1x.webp, static/images/content/chicken-small-mobile@2x.webp 2x")
				source(media="(min-width: 1300px)" srcset="static/images/content/chicken-small-desktop@1x.png 1x, static/images/content/chicken-small-desktop@2x.png 2x")
				source(media="(min-width: 768px)" srcset="static/images/content/chicken-small-tablet@1x.png 1x, static/images/content/chicken-small-tablet@2x.png 2x")
				img.product__image(src="static/images/content/chicken-small-mobile@1x.jpg" srcset="static/images/content/chicken-small-mobile@2x.jpg 2x" alt="Корм Cat Energy со вкусом курицы 500 мг")
		.product__col
			h3.product__title Cat Energy PRO 500 г
			.product__optional
				.product__line
					span Объем
					span 500 г
				.product__line
					span Вкус
					span Курица
				.product__line
					span Цена
					span 700 р
	a.catalog__link.button Заказать