.catalog__products.product
	.product__row
		.product__col
			picture.product__picture
				source(type="image/webp" media="(min-width: 1300px)" srcset="/static/images/content/buckwheat-small-desktop@1x.webp, /static/images/content/buckwheat-small-desktop@2x.webp 2x")
				source(type="image/webp" media="(min-width: 768px)" srcset="/static/images/content/buckwheat-small-tablet@1x.webp, /static/images/content/buckwheat-small-tablet@2x.webp 2x")
				source(type="image/webp" srcset="/static/images/content/buckwheat-small-mobile@1x.webp, /static/images/content/buckwheat-small-mobile@2x.webp 2x")
				source(media="(min-width: 1300px)" srcset="/static/images/content/buckwheat-small-desktop@1x.png 1x, /static/images/content/buckwheat-small-desktop@2x.png 2x")
				source(media="(min-width: 768px)" srcset="/static/images/content/buckwheat-small-tablet@1x.png 1x, /static/images/content/buckwheat-small-tablet@2x.png 2x")
				img.product__image(src="/static/images/content/buckwheat-small-mobile@1x.jpg" srcset="/static/images/content/buckwheat-small-mobile@2x.jpg 2x" width="140" height="144" alt="Корм Cat Energy со вкусом гречки 500 мг")
		.product__col
			h3.product__title Cat Energy PRO 500 г
			.product__optional
				.product__line
					span Объем
					span 500 г
				.product__line
					span Вкус
					span Гречка
				.product__line
					span Цена
					span 400 р
	a.catalog__link.button.button--small Заказать