.main-nav {
  display: none;
  &__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  &__link {
    color: $headline-color;
    border-top: 1px solid $border-color;
    display: block;
    font-family: $bold-font;
    font-size: 20px;
    line-height: 20px;
    margin: 0 -20px 0 -20px;
    padding: 22px 0;
    text-transform: uppercase;
  }
  &--active { display: block; }
  &--nojs { display: block }
}