.main-nav {
  display: none;
  @media screen and (min-width: $tablet-size) {
    display: block;
  }
  &__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    @media screen and (min-width: $tablet-size) {
      align-items: center;
      flex-direction: row;
    }
  }
  &__item {
    @media screen and (min-width: $tablet-size) {
      &:not(:last-child) { margin-right: 37px; }
    }
  }
  &__link {
    color: $headline-color;
    border-top: 1px solid $border-dark-color;
    display: block;
    font-family: $bold-font;
    font-size: 20px;
    line-height: 20px;
    margin: 0 -20px 0 -20px;
    padding: 22px 0;
    position: relative;
    text-transform: uppercase;
    &--active::after {
      @media screen and (min-width: $tablet-size) {
        background-color: $bg-green-color;
        bottom: -5px;
        content: "";
        height: 2px;
        left: 0;
        position: absolute;
        width: 100%;
      }
      @media screen and (min-width: $desktop-size) {
        background-color: $white;
        bottom: -8px;
      }
    }
    @media screen and (min-width: $tablet-size) {
      border: none;
      font-family: $headline-font;
      font-size: 18px;
      font-weight: normal;
      line-height: 25px;
      margin: 0;
      padding: 0;
    }
    @media screen and (min-width: $desktop-size) {
      color: $white;
      font-size: 20px;
      line-height: 25px;
      &:hover { opacity: 0.6; }
      &:active { opacity: 0.3; }
    }
  }
  &--active { display: block; }
  &--nojs { display: block }
}