.main-nav {
  &__list {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  &__item {
    font-family: 'oswald_medium', Arial, sans-serif;
    font-size: 20px;
    line-height: 20px;
    padding: 24px 0;
    text-transform: uppercase;
  }
}