nav.main-nav.header__main-nav
	ul.main-nav__list
		li.main-nav__item
			a(href="").main-nav__link Главная
		li.main-nav__item
			a(href="").main-nav__link Каталог продукции
		li.main-nav__item
			a(href="").main-nav__link Подбор программы