nav.header-nav.main-nav.main-nav--nojs
	ul.main-nav__list
		li.main-nav__item
			a(href="").main-nav__link.main-nav__link--active Главная
		li.main-nav__item
			a(href="").main-nav__link Каталог продукции
		li.main-nav__item
			a(href="").main-nav__link Подбор программы