footer.footer
    section.main-footer
        .container
            h2.visually-hidden Футтер сайта
            .main-footer__wrapper
                .main-footer__logo
                    a.main-footer__link(href="index.html")
                        +icon('icon-logo-footer','icon-logo-footer','128','24')
                ul.main-footer__list.social__list
                    li.social__item
                        a.social__link(href="https://vk.com/htmlacademy")
                            +icon('icon-vk-mobile','icon-vk','22','12')
                    li.social__item
                        a.social__link(href="https://www.instagram.com/htmlacademy")
                            +icon('icon-insta-mobile','icon-insta','16','16')
                    li.social__item
                        a.social__link(href="https://www.facebook.com/htmlacademy")
                            +icon('icon-fb-mobile','icon-fb','10','19')
                a.main-footer__copyright(href="http://htmlacademy.ru")
                    p.main-footer__academy HTML Academy
                    +icon('logo-htmlacademy','icon-htmlacademy','27','34')